body {
  font-size: 1rem;
  margin: 0;
  font-family: Rubik;
  color: hsl(229, 8%, 60%);
  height: auto;
  width: 23.43rem;
}

#background-menu {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: hsl(229, 31%, 21%);
  width: 100%;
  height: 1226%;
  opacity: 0.9;
}

.responsive-menu {
  display: flex;
  flex-flow: column nowrap;
  margin: 3rem;
}

.responsive-menu>a {
  justify-content: space-around;
  padding: 1rem;
  border-bottom: solid hsl(229, 8%, 60%) 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 50%;
  margin: 0px 20%;
}

.logo-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: solid hsl(229, 8%, 60%) 2px;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

#button-login {
  margin-top: 25px;
  border: solid white 2px;
}

#nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 23.4375rem;
  font-size: 1rem;
}

.logo {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2rem 2rem;
  font-size: 24px;
  font-weight: 700;
}

#response {
  display: block;
  float: right;
  position: relative;
  top: -4rem;
  right: 10%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 1000;
}

#nav>a {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

a::selection {
  color: blue;
}

#exit {
  cursor: pointer;
}

/* Content Description */
#content-describe {
  display: flex;
  flex-flow: wrap column-reverse;
}

.describe-card {
  display: flex;
  flex-flow: column;
  margin: 9rem 0 0 0;
  align-items: center;
  text-align: center;
}

.big-heading {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
  color: black;
  margin-block-end: 0px;
  margin-inline-start: 2rem;
  margin-inline-end: 30px;
}

.describe-text {
  width: 20.375rem;
  line-height: 25px;
}

.get {
  padding: 0.9375rem 1.25rem;
  margin-right: 0.800rem;
  border-radius: 5px;
  box-shadow: 1px 3px 4px hsl(229, 8%, 60%);
}

#getChrome:hover {
  border: solid 2px hsl(231, 69%, 60%);
  background-color: white;
}

#getChrome {
  border: solid 2px hsl(231, 69%, 60%);
  background-color: hsl(231, 69%, 60%);
}

#getFirefox:hover {
  border: solid 2px black;
  background-color: white;
}

#getFirefox {
  border: solid 2px hsl(229, 8%, 95%);
  background-color: hsl(229, 8%, 95%);
}

#right-shadow {
  display: flex;
  flex-flow: row;
  width: 18rem;
  /* margin-bottom: 33px; */
  height: 10.5rem;
  background-color: hsl(231, 69%, 60%);
  position: relative;
  z-index: 1;
  left: 23%;
  top: 6rem;
  border-radius: 0 0 0 100px;
}

.img {
  margin-left: 0px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -2rem;
}

/* Feature section */
#features {
  display: flex;
  flex-flow: column;
  margin-bottom: 40px;
}

#tabs {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 0;
  list-style-type: none;
  margin-bottom: 70px;
  margin-top: 0;
}

.nav-link {
  padding: 1.2rem;
  width: 18rem;
  border-top: 1px solid #d6d6d6;
  text-align: center;
}

.active-tab {
  border-bottom: 3px solid hsl(0, 94%, 66%);
  transition: 0.3s;
  /* border: soslid 2px black; */
}

.last-link {
  border-bottom: 1px solid #d6d6d6;
}

button {
  transition: 0.3s;
  cursor: pointer;
}

.img-card {
  width: 102%;
  position: relative;
  bottom: 33px;
  left: 12px;
}

.card-text {
  width: 21rem;
}

/* .feature-content {
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.8rem;
} */
.card {
  display: none;
  flex-flow: column wrap;
  height: auto;
}

#left-shadow {
  width: 310px;
  height: 44%;
  background-color: hsl(231, 69%, 60%);
  position: relative;
  z-index: -1;
  border-radius: 0 0 120px 0;
  left: 2px;
}

.card .describe-card {
  margin-top: 1rem;
}

#extension .describe-card {
  margin-top: 5rem;
}

#features .describe-card {
  margin-top: 12rem;
}

.info {
  display: none;
}

#addItems {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 35px;
}

.item {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 5px #d6d6d6;
  margin-bottom: 40px;
}

/* width: 100%;
    margin-left: 10%;
    position: relative;
    bottom: 33px;
    left: 45px; */
.body-extension {
  width: 14rem;
  padding: 30px;
  font-weight: 700;
  border-bottom: dotted 5px #d6d6d6;
}

.extension-button {
  border: solid 1px hsl(231, 69%, 60%);
  padding: 15px 50px;
  margin: 25px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border-radius: 5px;
}

.info-table {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.info-table>ul {
  padding-inline-start: 20px;
}

#question-section .describe-card {
  margin: 12rem 0 0 0;
}

.question {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: solid 1px #d6d6d6;
  width: auto;
  cursor: pointer;
}

li>img {
  float: right;
  margin-left: 5px;
}

.answer {
  display: none;
}

.show {
  display: block;
  width: 304px;
  border-top-style: none;
  /* border-bottom: solid 1px #d6d6d6; */
}

#contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: hsl(231, 69%, 60%);
  font-family: Rubik;
  color: white;
}

#contact>h1 {
  text-align: center;
  font-size: 26px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
}

#contact>p {
  letter-spacing: 2px;
  font-weight: 400;
  color: white;
}

.form {
  margin: 35px;
  display: flex;
  flex-flow: column nowrap;
  width: 254px;
}

#input {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.button-contact {
  height: 45px;
  border: solid 2px hsl(0, 94%, 66%);
  padding: 0 15px 0 15px;
  border-radius: 5px;
  background: hsl(0, 94%, 66%);
  color: white;
}

.info-table>.info {
  display: block;
  width: 120px;
  padding: 15px 25px;
  margin-top: 40px;
  margin-bottom: 120px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border-radius: 4px;
}

.info-table>.info:hover {
  border: solid 2px hsl(231, 69%, 60%);
  background-color: white;
  color: hsl(231, 69%, 60%);
}

#wrong {
  position: relative;
  bottom: 38px;
  left: -51px;
  height: 13px;
  width: 184px;
  font-size: 8px;
  letter-spacing: 0px;
  background: hsl(0, 94%, 66%);
  display: none;
  border-radius: 2px;
}

#error {
  position: absolute;
  top: -24px;
  right: 10px;
}

#contact p {
  margin-top: 75px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:1130px) and (max-width:2000px) {
  body {
    width: auto;
  }

  #response {
    display: none;
  }

  #nav-section {
    margin: 0px;
  }

  #nav {
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: auto;
    padding-right: 15%;
  }

  #response {
    display: none;
  }

  /*
  #exit {
    cursor: pointer;
  } */
  #button-login a {
    color: white;
  }

  #nav>a {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-end;
    padding-right: 8rem;
    margin: 1.3rem;
    padding: 7px 2rem 0 2rem;
  }

  /* .menu>li {
    margin: 1.3rem;
    padding: 7px 2rem 0 2rem;
    list-style: none;
    justify-content: space-between;
  } */
  .logo {
    height: 2rem;
    float: left;
    margin-left: 3rem;
    padding: 1rem 2rem;
  }

  .footer-nav .logo {
    float: left;
    margin-top: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
  }

  .button-login {
    height: 1.8rem;
    border: solid 2px hsl(0, 94%, 66%);
    background: hsl(0, 94%, 66%);
    border-radius: 5px;
  }

  #content-describe {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-top: 50px;
  }

  #content-describe .describe-card {
    margin-left: 0px;
  }

  #content-describe .describe-text {
    width: 27rem;
    text-align: left;
  }

  .card .describe-card {
    text-align: left;
    align-items: end;
    width: 499px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 6rem;
  }

  .describe-card {
    display: flex;
    flex-flow: column;
    margin: 100px 0 20px 16rem;
    text-align: center;
    width: 54rem;
  }

  #right-shadow {
    width: 65%;
    height: 21rem;
    background-color: hsl(231, 69%, 60%);
    position: relative;
    z-index: 1;
    left: 8.5%;
    top: 10rem;
    border-radius: 0 0 0 180px;
  }

  .img {
    margin-left: 0px;
    width: 650px;
    position: absolute;
    left: -11rem;
  }

  .card {
    display: none;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: left;
  }

  #left-shadow {
    width: 530px;
    height: 345px;
    background-color: hsl(231, 69%, 60%);
    position: relative;
    z-index: -1;
    border-radius: 0 0 150px 0;
    left: -11%;
    top: 4rem;
  }

  #tabs {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: center;
    margin: 0 0 4%;
  }

  #addItems {
    margin: 50px 17%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .item {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 5px #d6d6d6;
    position: relative;
  }

  .card .big-heading {
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    color: black;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 95px;
  }

  .card-text {
    width: 24rem;
  }

  .img-card {
    width: auto;
    bottom: 60px;
    left: 17%;
  }

  #features {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-content: center;
  }

  #extension .describe-card {
    text-align: center;
  }

  #features .describe-text {
    width: 30rem;
  }

  #features .describe-card {
    margin: 14rem 0 0;
    width: unset;
  }

  .nav-link {
    padding: 20px 34px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    text-align: center;
    width: auto;
  }

  .active-tab {
    border-bottom: solid 2px hsl(0, 94%, 66%);
  }

  .info {
    display: flex;
    width: 90px;
    padding: 8px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 4px;
  }

  #question-section {
    /* border: solid 1px black; */
  }

  #question-section .describe-card {
    margin: 8rem 0 0 0;
    width: unset;
  }

  .form {
    margin: 35px;
    display: flex;
    flex-flow: row nowrap;
    width: 23rem;
  }

  #input {
    padding: 12px;
  }

  .button-contact {
    margin-left: 1rem;
    height: 42px;
  }

  .nav {
    width: 100%;
    background: hsl(229, 31%, 21%);
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .nav>a:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
  }
 .nav .footer-nav>a {

    padding-right: 0;
    color: white;
    text-decoration: none;
    float: left;
  padding: 1rem;
  }
  .nav .footer-nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
/* .footer-nav .logo{
  display: block;
} */
  .nav #social-button {
    float: left;
    margin-left:30rem;
  }
#social-button img{
  margin: 1rem;
}
}

@media screen and (min-width:375px) and (max-width:1130px) {
  body {
    width: auto;
  }

  #nav {
    width: auto;
  }

  .describe-card {
    margin: 8% 0 0 0;
  }

  .card .describe-card {
    margin-top: 4rem;
  }

  .card {
    flex-flow: column wrap;
    align-content: center;
  }

  #content-describe {
    height: auto;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  #right-shadow {
    top: 11rem;
    width: 73%;
      height: 200px;
      margin-bottom: 3rem;
      left: 30%;
    min-height: 240px;
  }

  #left-shadow {
    left: -28%;
    min-width: 540px;
    max-width: 610px;
  }

  .img {
    bottom: -2%;
    left: -15%;
    min-width: 421px;
    max-width: 500px;
  }

  .img-card {
    width: 75%;
    position: relative;
    bottom: 3rem;
    left: 39%;
    min-width: 250px;
    max-width: 465px;
  }

  #features .describe-text {
    width: 21rem;
  }

  #question-section .describe-card {
    margin: 8rem 0 0 2rem;
  }
input[value^="Enter your email addres"]{
  color: gray;
}
  .nav {
    display: flex;
    flex-flow: column;
    width: 100%;
    background: hsl(229, 31%, 21%);
    align-items: center;
  }
.nav .footer-nav{
  display: flex;
  flex-flow: column;
}
   .nav .footer-nav>a {
    color: white;
    text-decoration: none;
    margin-top: 1rem;

  }
  #social-button img{

    padding: 0 1rem;
  }
/*
  .footer-nav>.menu>.menu-item {
    margin: 1rem;
  }

  .nav .footer-nav>a:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
  }

  .nav {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0 0;
    align-items: center;
  } */

  /* #social-button {
    flex-flow: row;
    padding: 0 0;
  } */

.nav  #social-button  {
  flex-flow: row;
  padding: 0 0;
    margin-top: 2rem ;
  }
}

@media screen and (min-width:1130px) and (max-width:1661px) {
  #right-shadow {
    left: 8%;
    width: 38%;
  }

  /* #wrong {
    position: relative;
    bottom: 38px;
    left: -51px;
    height: 13px;
    width: 184px;
    font-size: 8px;
    letter-spacing: 0px;
    background: hsl(0, 94%, 66%);
    display: none;
    border-radius: 2px;
  }

  #error {
    position: absolute;
    top: -24px;
    right: 10px;
  } */
